<!DOCTYPE html>
<html>

<head>
    <title>News Story Service</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!--Link the login page if the user is not signed in, if the user is signed in, display their name and role-->

<body>
    <h1>News Story Service</h1>
    <%if (userName == undefined) {%>
    <a href="/login">Login</a>
    <% } else {%>
    <p>Welcome, <%= userName %>!</p>
    <p>Your role is: <%= role %></p>
    <a href="/logoutUser">Logout</a>
    <%}%>

    <br><br><br>
    <h2>Create News Stories</h2>
    <p>Use the following input values to create a news story.</p>
    <div class="input-group mb-2">
  <form action="/createNewsStoryReporter" method="POST">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
      <label for="public">Public:</label>
      <select class="form-control" id="public" name="public">
        <option value="T">True</option>
        <option value="F">False</option>
      </select>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">Content:</span>
      </div>
      <textarea class="form-control" name="content" aria-label="Content"></textarea>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<a href="/">Return Home</a>

</body>
</html>