<!DOCTYPE html>
<html>
    <head>
        <title>News Story: Update a Story Title</title>
    </head>

    <p>Hello: <%= name %> </p>

    <body>
        <h1>News Story Updated: <%= result %></h1>
        <ul>
            <li>Title: <%= title %></li>
            <li>New Title: <%= newTitleEntry %></li>
        </ul>
        <a href="/">Return Home</a>
    </body>
</html>