<!DOCTYPE html>
<html>
<head>
    <title>News Story Service</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--Link Bootstrap 4-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

    <!--A page that asks the user for their username, password, and a select option of role of either Subscriber or Reporter-->
    <body>
        <h1>Welcome to the News Story Service: Login</h1>
        <p>Use the following input values to login.</p>
        <div class="input-group mb-2">
            <form action="/loginUser" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
                <div class="form-group">
                    <label for="role">Role:</label>
                    <select class="form-control" id="role" name="role">
                        <option value="Subscriber">Subscriber</option>
                        <option value="Reporter">Reporter</option>
                    </select>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>

        <br><br>

        <a href="/">Return Home</a>
    </body>
</html>